<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin account</title>
</head>
<body>

<a href="/menu">Вернуться на основную страницу</a>

<div>
  <p th:text="${'Личный кабинет - ' + admin.name + ' ' + admin.surname}"></p> <br>
</div>

<a href="/user/update">Изменить личную информацию</a>

<a href="/menu/create">Управление меню</a>

<form th:method="POST" th:action="@{/logout}">
  <input type="submit" th:value="Выйти">
</form>

</body>
</html>