<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drinks</title>
</head>
<body>

<table>
  <tbody>
  <tr>
    <td>Название</td>
    <td>Калории</td>
    <td>Цена</td>
    <td>Углеводы на 100 мл</td>
    <td>Состав</td>
    <td>Крепость</td>
    <td>Категория</td>
  </tr>
  <tr th:each="dish : ${drinks}">
    <td th:text="${dish.name}"></td>
    <td th:text="${dish.calories}"></td>
    <td th:text="${dish.price}"></td>
    <td th:text="${dish.carbohydrates}"></td>
    <td th:text="${dish.structure}"></td>
    <td th:text="${dish.strength}"></td>
    <td th:text="${dish.categoryList}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>