<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>

<a href="http://localhost:8080/user">Личный кабинет</a>
<a href="http://localhost:8080/menu/drinks">Напитки</a>
<a href="http://localhost:8080/menu/foods">Еда</a>

<table>
    <tbody>
    <tr>
        <td>Название</td>
        <td>Цена</td>
        <td>Состав</td>
        <td>Категория</td>
    </tr>
    <tr th:each="element : ${menu}">
        <td th:text="${element.name}"></td>
        <td th:text="${element.price}"></td>
        <td th:text="${element.structure}"></td>
        <td th:text="${element.categoryList}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>